.bed-room {
  position: relative;
  margin: 10% 0;
}

.bed-room-bulle-1 {
  width: 350px;
  height: 308px;
  position: absolute;
  top: 27%;
  left: 7%;
  opacity: 0;
}

.bed-room-bulle-2 {
  width: 223px;
  height: 142px;
  position: absolute;
  top: 61%;
  left: 11%;
  opacity: 0;
}

.bed-room-principal {
  width: 100vw;
  margin: 0 auto;
}
