.button-header {
  overflow: hidden;
  width: 137px;
  color: #fff;
  font-family: "Enchanted Land";
  font-size: 32px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #b00042;
}

.button-footer-1 {
  color: #fff;
  font-family: "Enchanted Land";
  font-size: 48px;
  text-decoration: none;
  margin-top: 70px;
}

.button-footer-2 {
  color: #fff;
  font-family: "Enchanted Land";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: none;
  padding: 10 20px;
  background: #b00042;
  margin-top: 70px;
}

.button-achat {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
