.escape {
}

.escape-bulle-1 {
  width: 253px;
  height: 238px;
  position: relative;
  top: 170px;
  left: 370px;
  opacity: 0;
}

.escape-principal {
  width: 922px;
  height: 904px;
  margin: 0 auto;
}

.escape-bulle-2 {
  width: 252px;
  height: 180px;
  position: relative;
  bottom: 120px;
  right: -1370px;
  opacity: 100;
}
