.family-paint {
  position: relative;
  margin: 20% 0 10% 0;
}

.family-paint-bulle-1 {
  width: 484px;
  height: 176px;
  position: absolute;
  top: -6%;
  left: 2%;
  opacity: 0;
}
.family-paint-principal {
  margin: 0 auto;
}

.family-paint-bulle-2 {
  width: 385px;
  height: 238px;
  position: absolute;
  bottom: -13%;
  right: 4%;
  opacity: 0;
}
