.family-paint {
  margin-top: 250px;
}

.family-paint-bulle-1 {
  width: 484px;
  height: 176px;
  position: relative;
  flex-shrink: 0;
  top: 70px;
  left: 10px;
  opacity: 0;
}

.family-paint-bulle-2 {
  width: 385px;
  height: 238px;
  flex-shrink: 0;
  position: relative;
  bottom: 10vw;
  right: -73%;
  opacity: 0;
}

.family-paint-principal {
  margin: 0 auto;
}
