.maxine {
  position: relative;
  margin-top: 0%;
  margin-bottom: 50%;
}

.maxine-principal {
  width: 1067px;
  height: 1467px;
  margin: 0 auto 400px;
}

.maxine-bulle-1 {
  width: 344px;
  height: 321px;
  position: absolute;
  top: 18%;
  left: 5%;
  opacity: 0;
}

.maxine-bulle-2 {
  width: 742px;
  height: 399px;
  position: absolute;
  left: 25%;
  top: 36%;
  opacity: 0;
}

.maxine-sketch {
  width: 100vw;
  margin: 0 auto;
}
