.maxine {
}

.maxine-principal {
  margin: 0 auto;
}

.maxine-bulle-1 {
  width: 344px;
  height: 321px;
  position: relative;
  top: 1000px;
  left: 200px;
  opacity: 100;
}

.maxine-bulle-2 {
  width: 742px;
  height: 399px;
  position: relative;
  bottom: 130px;
  right: -580px;
  opacity: 0;
}

.maxine-sketch {
  margin: 0 auto;
  width: 100%;
}
