.nav-logo {
  width: 209px;
  height: 34.514px;
}

.nav-header {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 60.5%
  );
}
