.nav-logo {
  width: 209px;
  height: 34.514px;
}

.nav-header {
  font-size: 20px;

  text-align: center;
}

.nav-buton {
  overflow: hidden;
  width: 137px;
  color: #fff;
  font-family: "Enchanted Land";
  font-size: 32px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #b00042;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 60.5%
  );
}
