.parallax {
  position: relative;
  height: 150vh;
  width: 100vw;
  overflow: hidden;
}

.parallax-bg {
  background-image: url("../img/parallax-bg.png");
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-layer-1 {
  background-image: url("../img/parallax-logo.png");
  width: 100%;
  background-size: cover;
}

.parallax-layer-2 {
  background-image: url("../img/parallax-rock.png");
  width: 100%;
  background-size: cover;
}

.parallax-layer-3 {
  background-image: url("../img/parallax-ysa.png");
  width: 100%;
  background-size: cover;
}

.parallax-layer-4 {
  background-image: url("../img/parallax-ground.png");
  width: 100%;
  background-size: cover;
}
