.section {
  max-width: auto;
  z-index: 2;
}

#horizontal .section {
  height: 100vh;
  width: 100vw;
  display: grid;
  flex-shrink: 0;
  place-items: center;
}

#horizontal {
  display: flex;
  overflow-x: hidden;
}

#horizontal .section:nth-child(1) {
  background-image: url("../img/présentation-ysa.jpg");
  background-position: center;
  background-size: cover;
}

#horizontal .section:nth-child(2) {
  background-image: url("../img/présentation arthur.jpg");
  background-position: center;
  background-size: cover;
}

#horizontal .section:nth-child(3) {
  background-image: url("../img/présentation-baron.jpg");
  background-position: center;
  background-size: cover;
}

#horizontal .section:nth-child(4) {
  background-image: url("../img/présentation-epee.jpg");
  background-position: center;
  background-size: cover;
}
