@font-face {
  font-family: "Enchanted Land";
  src: url("../font/EnchantedLand.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Katari, serif;
  background-color: #25000b;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

.furieuse-footer {
  color: #fff;
  font-family: "Enchanted Land";
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #fff;
  font-family: "Katari";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 675px;
  height: 205px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
header .couverture {
  height: 10%;
}
.couverture {
  height: 100vh;
  width: 100vw;
}
